.blog
{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px, rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
    background-color: #fff;
}

.blog_left_area
{
    height: 300px;
    flex: .40;
}

.blog_right_area
{
    flex: .60;
    display: flex;
    flex-direction: column;
    /* align-items: center;jus */
    justify-content: center;
}